pipeline {
    agent any

    tools {
        jdk 'jdk-21'
        maven 'Maven-3.9'
    }

    environment {
        VALID_LOGIN    = credentials('av-by-valid-login')
        VALID_PASSWORD = credentials('av-by-valid-password')
    }

    stages {
        stage('Test') {
            steps {
                sh 'mvn test'
            }
        }
    }

    post {
        always {
            junit 'target/surefire-reports/*.xml'
            archiveArtifacts artifacts: 'target/allure-results/**', allowEmptyArchive: true
        }
    }
}
